# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter / notebooks
.ipynb_checkpoints/

# Data and outputs (adjust as needed)
#data/
outputs/
models/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/


.env

/prediction/pipeline_outputs
